* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0c1323;
  font-family: "Exo", sans-serif;
  color: #fff;
}

.media_container {
  margin: 0 auto;
  max-width: 864px;
  display: flex;
  flex-direction: column;
}

.media-block {
  background-color: #161d2e;
  padding: 20px;
}

.add-movies {
  margin-top: 40px;
  border-radius: 10px 10px 0 0;
}

.media_container-inner {
  padding: 20px;
  background-color: #262f43;
  border-radius: 10px;
}

.media_movies {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;
  margin-bottom: 45px;
}

.movie-edit input {
  background-color: transparent;
  border: 1px solid #9d9fa7;
  height: 32px;
  width: 100%;
  text-indent: 10px;
  font-size: 16px;
  color: #9d9fa7;
  border-radius: 2px;
}

.movie-edit input::selection {
  background: #546a9f;
}

.movie-edit {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  flex: 1;
  min-width: 220px;
}

.radio-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  min-width: 220px;
  position: relative;
}

.movie-edit-text {
  font-size: 24px;
  margin-bottom: 8px;
}

.confirm-btn {
  background-color: #546a9f;
  height: 40px;
  width: 50%;
  border-radius: 5px;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  letter-spacing: 2px;
  user-select: none;
  border: none;
  color: #fff;
  font-family: "exo", sans-serif;
  flex: 1;
  min-width: 230px;
}

.search-movie-container {
  height: 40px;
  width: 50%;
  min-width: 230px;
  display: flex;
  gap: 10px;
  flex: 1;
}

.search-bar {
  height: 100%;
  width: 100%;
  font-family: "exo", sans-serif;
  font-size: 16px;
  text-indent: 10px;
  background-color: transparent;
  border: 1px solid #9d9fa7;
  color: #9d9fa7;
  border-radius: 2px;
}

.search-movie {
  background: url("../images/search.svg");
  background-repeat: no-repeat;
  border: none;
  color: transparent;
  cursor: pointer;
  height: 100%;
}

.confirm-btn:hover {
  background-color: #3454a0;
}

.confirm-container {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}

.media_header-static {
  display: flex;
  justify-content: space-around;
}

.static {
  background-color: transparent;
  color: #fff;
  border: none;
  text-align: start;
  font-family: "exo", sans-serif;
  cursor: pointer;
  text-indent: 5px;
  border-radius: 2px;
  font-weight: 700;
  font-size: 16px;
  border: 1px solid transparent;
  transition: 0.35s;
}

.static:hover {
  border: 1px solid #fff;
}

.static-form {
  display: contents;
}

.media-title {
  width: 35%;
  text-indent: 5px;
}

.media-director {
  width: 30%;
  text-indent: 5px;
}

.media-year {
  width: 8%;
  text-indent: 5px;
}

.media-genre {
  width: 15%;
  text-indent: 5px;
}

.media-update {
  width: 12%;
  text-indent: 5px;
}

.library-block {
  display: flex;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

.media_library {
  padding-bottom: 0;
}

.media_library .media_container-inner {
  border-radius: 10px 10px 0 0;
  font-weight: 700;
}

.post-container {
  background-color: #262f43;
  padding: 5px 20px;
}

.block-post-container {
  background-color: #161d2e;
  padding: 0 20px 0 20px;
  margin: 0 auto;
  max-width: 864px;
  box-sizing: border-box;
}

.media-footer-container {
  margin: 0 auto;
  max-width: 864px;
  box-sizing: border-box;
}

.media-footer-outer {
  background-color: #161d2e;
  padding: 0 20px 20px 20px;
  border-radius: 0 0 10px 10px;
}

.media-footer-inner {
  background-color: #262f43;
  padding: 0 20px 10px 20px;
  border-radius: 0 0 10px 10px;
}

.edit-image {
  background-image: url("../images/edit.svg");
  background-repeat: no-repeat;
  font-size: 20px;
  transform: translateX(5px);
}

.library-block-edit {
  background-color: transparent;
  border: none;
  color: #fff;
  font-family: "exo", sans-serif;
  cursor: pointer;
  color: transparent;
}

.modal form {
  display: contents;
}

.form-error {
  color: #f6050d;
  font-size: 16px;
  font-family: "exo";
  font-weight: 400;
}

@media screen and (max-width: 619px) {
  .radio {
    margin-bottom: 16px;
  }

  .confirm-btn {
    width: 100%;
  }

  .invisible-object {
    display: none;
  }

  .add-movies {
    margin-top: 0;
  }
}

@media screen and (max-width: 350px) {
  .movie-edit {
    min-width: 100px;
  }
}
